<div id="accordion" role="tablist" aria-multiselectable="true">
	{{#each this}}
	<div class="panel panel-primary col-md-12 col-sm-12 .lead">
		<span style="cursor: pointer" class="panel-primary" data-toggle="collapse" href="#collapse{{name}}" aria-expanded="true" aria-controls="collapse{{name}}">
			<div class="panel-heading row" role="tab" id="heading{{name}}">
				<h2 class="division-name text-center">
					{{name}}
				</h2>
			</div>		
		</span>
		<div id="collapse{{name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{name}}">		
			{{#each players}}
			<div class="panel-heading h3 alt-color container-fluid" role="tab" id="heading{{name}}">
				<span class="col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-2 flag-icon flag-icon-{{country}}"></span>
				<div class="col-md-2 col-sm-3 col-xs-8">
					 {{name}}
				</div>
				<div class="col-md-2 col-sm-2 col-xs-3">Score {{score}}</div>
				<div class="col-md-2 col-sm-2 col-xs-3">Wins {{wins}}</div>
				<div class="col-md-2 col-sm-2 col-xs-3">Losses {{losses}}</div>
				<div class="col-md-2 col-sm-2 col-xs-3">Draws {{draws}}</div>
				<button class="btn btn-md btn-info col-md-1 col-sm-6 col-sm-offset-3 col-md-offset-0 col-xs-6 col-xs-offset-3" data-target="#player-modal" id="{{name}}" data-toggle="modal">Schedule</button>
				<br>
			</div>
			{{/each}}
		</div>
	</div>
	{{/each}}
</div>