<div id="accordion" role="tablist" aria-multiselectable="true">
	{{#each this}}
	<div class="panel panel-success col-md-12 col-sm-12 .lead">
		<a class="panel-success" data-toggle="collapse" data-parent="#accordion" href="#collapse{{name}}" aria-expanded="true" aria-controls="collapse{{name}}">
			<div class="panel-heading" role="tab" id="heading{{name}}">
				<h3 class="division-name text-center">
					{{name}}	
				</h3>
			</div>				
		</a>
		<div id="collapse{{name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{name}}">		
			<div id="accordion1" role="tablist" aria-multiselectable="true" class="panel panel-warning">
				{{# each players}}
				<div class="panel panel-warning">
					<div class="panel-heading h4 " role="tab" id="heading{{name}}">
						<a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{name}}" aria-expanded="true" aria-controls="collapse{{name}}">
							<span class="flag-icon flag-icon-{{country}}"></span> {{name}}
						</a>
					</div>
					<div id="collapse{{name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{name}}">
						<div text="center">
							<div class="btn btn-lg btn-info" id="{{name}}" data-toggle="modal" data-target="#player-modal">
								{{name}} Schedule and Summary
							</div>
						</div>
						<div class="alt-color"> Score: {{score}}</div>
						<div class="alt-color"> Wins: {{wins}}</div>
						<div class="alt-color"> Losses: {{losses}} </div>
						<div class="alt-color"> Draws: {{draws}} </div>
						<div class="alt-color"> Games Played: {{matchesPlayed}}</div> 
					</div>
				</div> 
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>