{{#each this}} 
<blockquote>
	<div class="alt-color">Week {{this.week}}: <span class="flag-icon flag-icon-{{this.player1.country}}"></span> <b>{{this.player1.name}}</b> against <span class="flag-icon flag-icon-{{this.player2.country}}"></span> <b>{{this.player2.name}}</b></div>
  <div class="alt-color"><b>{{this.scoreSummary}}</b></div>
{{#each summary}}
<div class="alt-color">{{.}}</div>
{{/each}}
</blockquote>
{{/each}}
