<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
<blockquote class="alt-color">
{{#each this}} 
	<div class="alt-color h3">Week {{this.week}}: <span class="flag-icon flag-icon-{{this.player1.country}}"></span> <b>{{this.player1.name}}</b> against <span class="flag-icon flag-icon-{{this.player2.country}}"></span> <b>{{this.player2.name}}</b></div>
  <div class="alt-color h3">{{this.scoreSummary}}</div>
  {{#if this.forfeitWinner}}
  <div class="alt-color h3">{{this.forfeitWinner}} wins by forfeit</div>
  {{/if}}
{{/each}}
</blockquote>
