<div class="alt-color">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">CLOSE</span></button>
  <blockquote>
    <div class="text-center h2">{{scoreSummary}}</div>
  {{#if draft}}
    <div class="h3">BANS:</div>
  {{#each draft.payload.bannedMaps}}
    <div>&#x274C; {{picker}} banned {{map}}.</div>
  {{/each}}
  <div class="h3">PICKS:</div>
  {{#each draft.payload.pickedMaps}}
    <div>&#10004; {{picker}} picked {{map}}.</div>
  {{/each}}
  {{else}}
  <div>No draft information available &#128579;</div>
  {{/if}}
  <div class="h3">RESULTS:</div>
  {{#each games}}
    <div>{{description}}</div>
  {{/each}}
</blockquote>
</div>