<div id="accordion" role="tablist" aria-multiselectable="true">
	{{#each this}}
	<div class="panel panel-primary col-md-12 col-sm-12 .lead">
		<span style="cursor: pointer" class="panel-primary" data-toggle="collapse" href="#collapse{{@key}}" aria-expanded="true" aria-controls="collapse{{@key}}">
			<div class="panel-heading row" role="tab" id="heading{{@key}}">
				<h2 class="division-name text-center">
					Week {{this.0.week}}
				</h2>
			</div>
		</span>
		<div id="collapse{{@key}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{@key}}">
			{{#each this}}
				<ul class="list-group">
					<li class="list-group-item {{#if completedFlag}} list-group-item-success {{else}} alt-color {{/if}} col-lg-4 col-md-12 col-sm-12">
						<div class="h4 col-lg-12" role="tab" id="heading{{this}}">
							<div><b>{{league}}</b></div>
							<span class="flag-icon flag-icon-{{player1country}}"></span> 
							<b>{{player1}}</b> vs 
							<span class="flag-icon flag-icon-{{player2country}}"></span> 
							<b>{{player2}}</b>
							<div>
								{{#if matchUrl}}
									<a class="game-details btn btn-lg btn-success" data-target="#recap-modal" href="" id="{{id}}" data-toggle="modal">Completed</a>
									<a href="{{matchUrl}}">(Download Replays)</a> 
								{{else}} 
								<button class="btn btn-lg" style="cursor:default">{{status}}</button>
								{{/if}}
							</div>
						</div>
					</li>
				</ul>
			{{/each}}
		</div>
	</div>
	{{/each}}
</div>
