<div id="accordion" role="tablist" aria-multiselectable="true">
	{{#each this}}
	<div class="panel panel-success col-md-6 .lead">
    	<div class="panel-heading" role="tab" id="heading{{@key}}">
      		<h4 class="division-name">
        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{@key}}" aria-expanded="true" aria-controls="collapse{{@key}}">
					Week {{inc @index}}
				</a>
     		 </h4>
    	</div>

		<div id="collapse{{@key}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{@key}}">

			<div id="accordion1" role="tablist" aria-multiselectable="true">
				{{#each this}}
					<div class="panel panel-warning">
    					<div class="panel-heading" role="tab" id="heading{{this}}">
        					<a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{this}}" aria-expanded="true" aria-controlthiss="collapse{{this}}">
	 							<span class="flag-icon flag-icon-{{player1country}}"></span> {{player1}} vs <span class="flag-icon flag-icon-{{player2country}}"></span> {{player2}}
	 						</a>
	 					</div>

	 					<div id="collapse{{this}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{this}}">
	 						<div text="center">
	 							<div class="btn btn-sm btn-info" id="{{this}}" data-toggle="modal" data-target="#player-modal">Full Schedule
		 						</div>
		 					</div>
	 						<div> Score: {{score}}</div>
	 						<div> Wins: {{wins}}</div>
	 						<div> Losses: {{losses}} </div>
	 						<div> Draws: {{draws}} </div>
	 						<div> Games Played: {{matchesPlayed}}</div>
	 				</div>
	 				</div>
				{{/each}}
			</div>
		 </div>
  	</div>
		{{/each}}
