<div id="accordion" role="tablist" aria-multiselectable="true">

	{{#each this}}

	<div class="panel panel-success col-md-2 .lead">
    	<div class="panel-heading" role="tab" id="heading{{player1.divisionName}}">
      		<h4 class="division-name">
        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{player1.divisionName}}" aria-expanded="true" aria-controls="collapse{{player1.divisionName}}">
					{{player1.divisionName}}
				</a>
     		 </h4>
    	</div>

		<div id="collapse{{player1.divisionName}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{player1.divisionName}}">

			<div id="accordion1" role="tablist" aria-multiselectable="true">
				{{#each player1}}
					<div class="panel panel-warning">
    					<div class="panel-heading" role="tab" id="heading{{name}}">
        					<a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{name}}" aria-expanded="true" aria-controls="collapse{{name}}">
	 							<span class="flag-icon flag-icon-{{country}}"></span> {{divisionName}}
	 						</a>
	 					</div>

	 					<div id="collapse{{name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{name}}">
	 						<div text="center">
	 							<div class="btn btn-sm btn-info" id="{{name}}" data-toggle="modal" data-target="#player-modal">Full Schedule
		 						</div>
		 					</div>
	 						<div> Score: {{score}}</div>
	 						<div> Wins: {{wins}}</div>
	 						<div> Losses: {{losses}} </div>
	 						<div> Draws: {{draws}} </div>
	 						<div> Games Played: {{matchesPlayed}}</div>
	 				</div>
	 				</div>
				{{/each}}
			</div>
		 </div>
  	</div>
	{{/each}}
</div>
