
<div id="accordion" role="tablist" aria-multiselectable="true" class="testing-css">
	{{#each this}}
	<div class="panel panel-primary col-sm-12 col-md-12 .lead">
		<div class="panel-heading" role="tab" id="heading{{@key}}">
			<h4 class="division-name">
				<span style="cursor: pointer" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@key}}" aria-expanded="true" aria-controls="collapse{{@key}}">
					<center class="h2 alt-color">WEEK {{this.0.week}} </center>
				</span>
			</h4>
		</div>
		<div id="collapse{{@key}}" class="panel-collapse collapse h4" role="tabpanel" aria-labelledby="heading{{@key}}">
			<div id="accordion1" role="tablist" aria-multiselectable="true" >
				{{#each this}}
				<ul class="list-group">
				<li class="list-group-item {{#if completedFlag}} list-group-item-success {{else}} list-group-item-warning {{/if}} col-md-6">
					<div class="heading" role="tab" id="heading{{this}}">
						{{league}}:	<span class="flag-icon flag-icon-{{player1country}}"></span> {{player1}} vs <span class="flag-icon flag-icon-{{player2country}}"></span> {{player2}}
						<div>Game Status: {{status}}</div>
					</div>
				</li>
			</ul>
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>
