{{#each this}}
	<div class="h3 panel {{#if status}}panel-success {{else}} alt-color{{/if}} col-md-12">
		<div class="panel-heading" role="tab" id="heading">
			{{league}}:
			<div>
				<span class="flag-icon flag-icon-{{player1.country}}"></span> {{player1.name}} vs 
				<span class="flag-icon flag-icon-{{player2.country}}"></span> {{player2.name}}
				<div>
					Game Status:
					{{#if status}}
						Completed (<a href="{{matchUrl}}">replays</a>)
					{{else}}
						Not completed
					{{/if}}
				</div>
			</div>
			<div>{{summary}}</div>
			<br>
			{{#each games}}
			<div>Game {{@index}} Spy {{spy}}. Sniper {{sniper}}. Level {{level}} {{gameType}}. Result: <b>{{result}}</b></div>
			{{/each}}
		</div>
	</div>
{{/each}}