<div class="alt-color">
	<ul class="list-group">
		{{#each this}}
		<li class="week-tabs h4 list-group-item {{#if status}}list-group-item-success{{else}}alt-color{{/if}} col-md-12 col-sm-12 col-lg-4">
			<div class="panel-heading" role="tab" id="heading">
				<div class="center-text"><strong>{{league}}</strong></div>
				<span class="flag-icon flag-icon-{{player1.country}}"></span> {{player1.name}} vs 
				<span class="flag-icon flag-icon-{{player2.country}}"></span> {{player2.name}}
				<div>
					<b>Game Status:</b>
					{{#if status}}
						<span>Completed (<a href="{{matchUrl}}">Replays</a>) 
							<a class="game-details" data-target="#recap-modal" href="" id="{{id}}" data-toggle="modal"><b>Game Details</b></a>
						</span>
						{{else}}
						<span>Not completed</span>
						{{/if}}
				</div>
			</div>
			{{/each}}
		</ul>
	</div>