<div id="accordion1" role="tablist" aria-multiselectable="true" >
				{{#each this}}
				<div class="panel panel-warning col-md-6">
					<div class="panel-heading" role="tab" id="heading{{this}}">
						{{!--<a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{player1}}" aria-expanded="true" aria-controlthiss="collapse{{player1}}">--}}
						{{league}}:	<span class="flag-icon flag-icon-{{player1country}}"></span> {{player1}} vs <span class="flag-icon flag-icon-{{player2country}}"></span> {{player2}}
						{{! </a>}}
						<div>Game Status: {{status}}</div>
						<div>Summary: {{summary}}</div>
					</div>
				</div>
				{{/each}}
			</div>