<div class="container-fluid alt-color">
{{#each this}}
	<div class="week-tabs h4 panel {{#if status}}panel-success{{else}} alt-color{{/if}} col-md-4 row">
		<div class="panel-heading" role="tab" id="heading"><center><strong>{{league}}</strong></center>
			<div>
				<span class="flag-icon flag-icon-{{player1.country}}"></span> {{player1.name}} vs 
				<span class="flag-icon flag-icon-{{player2.country}}"></span> {{player2.name}}
				<div>
					<b>Game Status:</b>
					{{#if status}}
						Completed (<a href="{{matchUrl}}">replays</a>)
					{{else}}
						Not completed
						<br><br><br><br><br>
					{{/if}}
				</div>
			</div>
			{{summary}}
		</div>
	</div>
{{/each}}
</div>

{{!-- 
			{{#each games}}
			<div>{{description}}</b></div>
			{{/each}} --}}