{{#each this}}
	<div class="h2 panel {{#if status}}panel-success {{else}} panel-warning{{/if}} col-md-4">
		<div class="panel-heading" role="tab" id="heading">
			{{league}}:
			<div>
				<span class="flag-icon flag-icon-{{player1.country}}"></span> {{player1.name}} vs 
				<span class="flag-icon flag-icon-{{player2.country}}"></span> {{player2.name}}
				<div>
					Game Status: 
					{{#if status}} 
						Completed 
					{{else}}
						Not completed
					{{/if}}
				</div>
			</div>	
			<div>
				Summary: {{summary}}
			</div>
		</div>
	</div>
{{/each}}